<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="robots" content="index, follow">
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="{{ tv.site_title }}">
    <meta name="og:url" content="{{ request.base_url }}">
    <meta name="og:locale" content="{{ tv.locale }}">
    {% set description = 'Join a ' + tv.site_title + ' room and buzz away! ' + tv.site_title + ' replaces the traditional physical Science Bowl buzzer with a web application.' %}
    <meta name="description" content="{{ description }}">
    {% set title = 'Join a Room - ' + tv.site_title %}
    <meta name="og:title" content="{{ title }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style>
      .alert {margin-top: 1%;}
      #buzzer {
        display: none;
      }
      #buzzer form button {
        margin-top: 2.5vh;
        height: 95vh;

      }
      .foottext {
        margin: 1vh auto;
      }
    </style>
    <script type="text/javascript">
      var tvNameLen = {{ tv.name_len }};
    </script>
  </head>
  <body>
    <div class="container-fluid" id="signin">
      <form id="signin-form">
        <h2 class="form-signin-heading">Join a Room</h2>
        <div class="form-group">
          <label for="roomID">Room ID</label>
          <input type="tel" id="roomID" class="form-control" placeholder="Room ID" required autocomplete="off" maxlength="{{ tv.room_id_len }}">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" placeholder="Name" required autocomplete="off" maxlength="{{ tv.name_len }}">
        </div>
        <div class="form-group">
          <label for="team">Team</label>
          <br>
          <div id="team" class="btn-group" role="group">
            <button type="button" id="A" class="btn btn-default">A</button>
            <button type="button" id="B" class="btn btn-default">B</button>
          </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
      </form>
      <p class="foottext"><a href="{{ scoreboard_url }}">Click here</a> to create a room.</p>
      <p class="foottext"><a href="{{ tv.github_link }}">Click here</a> to see the source code.</p>
    </div>
    <div class="container-fluid" id="buzzer">
      <form>
        <button class="btn btn-lg btn-danger btn-block" type="submit">Buzz</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js" integrity="sha256-fiM0lX3OYzf0FfLBeLqFuCokh+rf1VhI/eanPbzldUM=" crossorigin="anonymous"></script>
    <script src="/static/timesync.min.js"></script>
    <script src="/static/signin.js"></script>
  </body>
</html>
